@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.headerdrop li, a, button {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body {
    background-image: url("picture/bg1.jpg");
}

.headerdrop {
    background: rgb(251,176,63);
    background: radial-gradient(circle, rgba(251,176,63,1) 0%, rgba(239,73,88,1) 100%);
    border-radius: 30px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.headerdrop img {
    width: 50px;
    height: 50px;
}

.logo {
    cursor: pointer;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a {
    transition: all 0.8s ease;
    color: white;
}

.nav-list li a:hover {
    color: rgb(255, 255, 255);
}

.headerdrop button {
    padding: 9px 25px;
    background-color: rgb(248, 163, 6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.8s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-1{
    display: flex;
    align-items: center;
    height: 700px; 
    background-repeat: none;
    background-size: cover;  
}

.main-type h1,h2 {
    font-family: "Montserrat",sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.main-type {
    padding: 0 50px;
}

.foto {
    justify-content: right;
    margin-left: 420px;
    margin-bottom: 100px;
}

.foto img {
    width: 450px;
    height: 437px;
    border-radius: 50%;
}

.arrow img{
    position: absolute;
    bottom: 30px;
    left: 750px;
    width: 56px;
    height: 58px;
}

.mid-story {
    height: 700px;
    width: 100%;
    background: url("picture/bg-2x.jpg");
    background-size: cover;
    background-repeat: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.bio-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.bio-1-left {
    margin-left: 120px;
}

.bio-1-left img {
    border-radius: 50%;
    width: 252px;
    height: 230px;
}

.bio-1-right {
    margin-right: 100px;
}

.bio-1-right p {
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
}

.bio-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.bio-2-left {
    margin-right: 150px;
}

.bio-2-left img {
    border-radius: 50%;
    width: 252px;
    height: 230px;
}

.bio-2-right {
    margin-left: 100px;
}

.bio-2-right p {
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
}

.mid-story-2 {
    height: 700px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-story-2 .box-1 {
    width: 300px;
    height: 400px;
    padding: 15px;
    background: rgb(253,29,29);
    background: radial-gradient(circle, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    box-shadow: 10px 10px 5px grey;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}



.box-1 img {
    margin-left: 50px;
    width: 180px;
    border-radius: 50%;
}

.box-1 h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 30;
    margin-top: 50px;
    margin-left: 40px;
    color: white;
}

.mid-story-3 {
    height: 700px;
    background: rgba(255, 104, 0, 0.85);
}

.isi-story-3-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isi-story-3-1 img {
    margin-top: 30px;
    border-radius: 50%;
    width: 200px;
}

.isi-story-3-1 p {
    justify-content: left;
    margin-right: 105px;
    font-size: 35px;
    font-family: "Montserrat",sans-serif;
    color: white;
}

.spideytab {
    padding: 0;
    border: 0;
}
.spideytab img{
    width: 500px;
}